
  <div cdkDropListGroup>
    <div class="group-container"   *ngFor="let group of groups; let i = index">
      <h2>{{group.name}}</h2>
        
        <div cdkDropList cdkDropListOrientation="horizontal" class="header-list" (cdkDropListDropped)="headerDrop($event)" 
        class="col-header"
        >
          
        
        <div  [attr.id]="j" class="header-box"    (click)="clicked(i)"  (resized)="onResized($event,j)"  (mouseup)="fn_mouseUp($event)"   (mousedown)="fn_mouseDown($event)"  *ngFor="let field of projectFields; let j= index" [ngStyle]="{'width.px':field.width}"  cdkDrag   class="res">

            <div  cdkDragHandle style="float:left;cursor:move;width:20px">
              <img  width = "20" src = "../assets/images/drag.png"/>
            </div>
            {{field.name}}
          </div>
        </div>
        <div cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="group.items" 
        class="group-items"
        (cdkDropListDropped)="dropItem($event)">
        <div class="group-items-row" *ngFor="let item of group.items; let j = index" cdkDrag>{{item}}</div>
      </div>
      
    </div>
</div>

